#sidebar{
	
}
#nav_list{  
	clear:both;
} 

#nav_list ul li{
	list-style:none	;
    padding:2px;
  	color:#ffffff;
}  

.header{
    width:100%;
} 

.header-left{ 
	height:40px;
  	width:92px;
	float:left;
     
}

.header-right{
	text-align:right;
	padding-top:2px;
	width:98px;
	height:19px;
	margin-top:19px;
	float:right;
}

#user_content{  
	border:1px solid #E5E5E5;
	padding:10px;
} 

#recent_reviews{
	float:left;
}

#user-intro{
	width:200px; 
	border:1px solid #CCCCCC;
	float:right;
	margin:10px;
	padding:10px;
	background:#EFEFEF;
}

