<h3>手机预定</h3>
<div id="error_msg"></div>
<% remote_form_for ([@vendor,@mobile_user],:url => vendor_mobiles_path(@vendor)) do |f| -%>
	<p><%= label_tag '手机' %><br/>  
	<%= f.text_field :mobile %></p>
	<%= hidden_field_tag :vendor_id, @vendor %>
	<p><%= submit_tag '确定' %></p>  
<% end -%>


                           
