
<% content_for :javascripts do -%> 
	<%= javascript_include_tag 'ui.tabs' %>
  <script>
  $(document).ready(function(){
    $("#tabs").tabs();
	$("#tabs").tabs("disable", 2);
  });
  </script>
<% end -%> 
<% content_for :head do -%>
	<%= stylesheet_link_tag 'ui.tabs.css' %>
<% end -%>  

    
	<div id="right-content" class='span-16 last'>
		<div > 
			<ul id="tabs">
		    <li><a href="#top-50"><span>本周首选Top30</span></a></li>
			<li class='collapsible_tab'><%= render :partial => 'shared/collapsible' %></li> 
		  </ul>  
			
			<div id="top-50">
				 <%= render :partial => 'table',:locals => { :show_type => '', :vendors => @vendors} %>
			</div>      
		</div>
	</div> 
</div>    
