<%=flash_div%>
<h1>找回密码</h1>

<% form_tag reset_password_users_path do %>
 <p> 
   <label for="email"><%= 'Email' %></label><br/>
  <%= text_field_tag :email %><br /> <span class="tip">请输入你的注册email</span>     
   </p>
  <p><%= submit_tag '找回' %></p>
<% end %>