<div id="main" class='span-22'>
	<% if false %>
	<div id="guide-area" class='span-21'>
		<ul>
			<li id='step-one'>
			  <a href='#'>出去前预定</a>
			<p>网上挑选商家预定<br />收取短信确认</p> 
			</li> 
			<li id='step-two'>
			  <a href='#'>确认预定</a>
				<p>到商家确认预定<br />开始消费</p>
			</li>
			<li id='step-three'>
			  <a href='#'>核对则折</a>
				<p>网站填写发票收据<br />并核对信息</p>
			</li>
			<li id='step-four'>
			  <a href='#'>折扣返还</a>
				<p>折扣换取积分<br />兑换实物</p>
			</li>
		</ul>
	</div>
	<% end %>

	<div id="tag-area" class='span-22'>
		<div id='tag-left'>
            <%=link_to image_tag('bg/arrow.gif'),'#'%>热门搜索:
		</div> 
		<div id='tag-right'>
          <ul>
		   <li><a href='#'>情侣约会</a></li>
		   <li><a href='#'>宴请</a></li>
		   <li><a href='#'>外卖</a></li>
		   <li><a href='#'>家庭聚会</a></li>
		   <li><a href='#'>朋友聚餐</a></li>
		   <li><a href='#'>婚宴</a></li>
		   <li><a href='#'>商务宴请</a></li>
		   <li><a href='#'>下午茶</a></li>
		 </ul>
		</div>
	</div>
</div>