		<table class='grid tablesorter' cellspacing="0" cellpadding="0" border="0">
			<colgroup>
			<col width="3%"/>
			<col width="42%"/>
			<col width="8%"/>
			<col width="8%"/>
			<col width="8%"/>
			<col width="8%"/> 
			<col width="8%"/>
			<col width="8%"/>
			<col width="3%"/>
			</colgroup> 
		<thead> 
		<tr>   
   		 	<th></th> 
		    <th><span>餐馆名称</span></th> 
		    <th><span>口味</span></th> 
		    <th><span>服务</span></th> 
		    <th><span>环境</span></th> 
		    <th>人均</th>
			<th><span>折扣</span></th>
			<th><span>总评</span></th>
			<th></th>  
		</tr> 
		</thead> 
		<tbody >
			<%= render :partial => '/landing/vendor',:collection => vendors  %>
		 </tbody> 
		 </table>                 