<% body_tag(map = true) %>
<% content_for :javascripts do -%>  
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAE4ZY3N7fdhJWRXy60lvXGRSM5XwX9tk4DrlRQVr8BkTgDshT3RRcso4UNUeLQWvE2DNleH0Fp8BCDA&hl=zh-CN"      
      type="text/javascript"></script>

    <script type="text/javascript">

    var map = null;
    var geocoder = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
		<% if false %>
        map.setCenter(new GLatLng(39.917, 116.397), 13); 
		<% end %>
        geocoder = new GClientGeocoder();
		showAddress("上海市<%=@vendor.address.gsub(/\(\w+\)|\w+:/,'').split[0]%>")
      }
    }

    function showAddress(address) {
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert("不能解析: " + address);
            } else { 
			html = "<%=@vendor.name%><br /><%=@vendor.address.chop!%>" 
			var icon = new GIcon();
			icon.image = "/images/icon/gicon.png";
			icon.shadow = "/images/icon/gshadow.png";
			icon.iconSize=new GSize(32,32);
			icon.shadowSize=new GSize(56,32);
			icon.iconAnchor=new GPoint(16,32);
			icon.infoWindowAnchor=new GPoint(16,0);
	  		map.addControl(new GLargeMapControl());
	  		map.addControl(new GMapTypeControl());
	        map.setCenter(point, 14);
	        var marker = new GMarker(point, icon ,html);
	        map.addOverlay(marker);
			marker.openInfoWindowHtml(html);

            }
          }
        );
      }
    }
    </script>
<% end -%>     
<% @filter = false %>

<div  class='span-17'>
    <div id="map_canvas" style="width:600px; height:400px;margin:20px 40px"> </div> 
</div>
<div id="categories" class='span-4 last'>
	<%= render :partial => '/shared/vendor_info' %>   
</div>

  


