<% content_for :sidebar do %>
	<%= link_to "Cancle", admin_cards_path %>    
<% end %>


<% form_for @card, :url => admin_card_path(@card), :html => { :multipart => true }  do |f| %>   
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<p>
		<%= f.submit "submit" %>
	</p>
 <% end -%>

